
<body>
    <div>
            <div>
                    <h1>Emloyee Registration</h1>
            </div><br>
            <div>
                    <form [formGroup]="registerform" (ngSubmit)='onRegister()'>
                    
                                    <label >Employee Name :- </label>
                                    <input type="text"  formControlName="ename"  placeholder="Enter Full name"><br><br>
                            
                                    <label >Email :-    </label>
                                    <input type="text"  formControlName="email"  placeholder="Enter email"><br><br>

                                    <div class="form-group" formArrayName="mobno">
                                        <label class="col-sm-2 control-label">Phone</label><br>
                                        <div class="col-sm-10" *ngFor=" let group of mobileArray.controls; let i=index;" [formGroupName]='i'>
                                        
                                                <br> <div class="" >
                                                
                                                        <div class="form-group">
                                                                <input type="hidden"  class="" value="" />
                                                                <input type="text" class="form-control" formControlName="mobileno" placeholder="+91 8000000000" /><br>
                                                        </div>
                                                        
                                                </div>
                                                
                                                
                                                <button type="button"(click)="addmobileno()" class="btn btn-success  btn-sm btn-add-phone"><span class="glyphicon glyphicon-plus"></span> Add Phone</button>&nbsp;
                                                <button type="button"(click)="removemobileno(i)" class="btn btn-success btn-sm btn-add-phone"><span class="glyphicon glyphicon-plus"></span>Remove Mobile</button>
                                                
                                        </div><br>
                                        
                                     </div>
                                    
                                    <label >Password :- </label>
                                    <input type="password"  formControlName="password" placeholder="Enter Password"><br><br>
                       
                                    <button type="submit" class="btn btn-success">Register</button>&nbsp;
                                    <button type="btn " class="btn btn-secondary" routerLink="/login">Back</button>
                            
</form>
</div>
</div>
</body>
