<body>
    <section class="lagin-wrap mtb-40">
      <div class="container">
        <div class="row justyfy-content-center">
          <div class="col-md-6">
            <div class="login-box ">
              <h1>User Login</h1>
              <form [formGroup]="loginform" (ngSubmit)='onLogin()'>
                <div class="alert alert-danger" *ngIf="Error">
                  {{msg}}
                </div>
                  <div class="form-group">
                    <label for="username">Username :- </label>
                    <input type="text"  formControlName="email"  placeholder="Enter username">
                    
                  </div><br>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password :- </label>
                    <input type="password"  formControlName="password" placeholder="Enter Password">
                  </div><br>
                  <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div> -->
                  <button type="btn btn-success" class="btn btn-primary">Submit</button>&nbsp;
                  <button type="btn " class="btn btn-secondary" routerLink="register">Register</button>
                </form>
               </div>
             </div>
          </div>
      </div>
    </section>
  </body>
  