<body>
    <div id="wrapper">
        <h1>Employee Project</h1>
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <h2>Logo</h2>
          </div>
          <ul class="sidebar-nav">
            <li>
              <a routerLink="home"><i class="fa fa-home" ></i>Employee</a>
            </li>
            <li >
              <a routerLink="employeelist"><i class="fa fa-list"></i>Employee-list</a>
            </li>
            <li >
                <a routerLink="updateemployee"><i class="fa fa-list"></i>Employee-Update</a>
              </li>
            <li >
              <a routerLink="register"><i class="fa fa-user" ></i>Reigister-Employee</a>
            </li>
          </ul>
        </aside>

      
        <section id="content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <h2 class="content-title">Employee Profile</h2>
                <p></p>
              </div>
              <div>
                <router-outlet></router-outlet>
              </div>
            </div>
        </section>
      
      </div>
    
    
    
</body>